body {
	background-color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px ;
}

h2 {
	margin: 0px;
}

#questLineImg, #questLines > div > img, #theme-btn > label > img {
	width: 32px;
	height: 32px;
}

#questLineName, #header > span, #questLines > div > span {
	position: relative;
	top: -10px;
}

.dark {
	background-color: #333;
	color: #ddd;
}

.light {
	background-color: #ddd;
	color: #333;
}

#header {
	position: fixed;
	top: 0px;
	height: 60px;
	width: 100%;
	z-index: 1000;
}

#main {
	width: 1900px;
	margin: 65px auto;
}

#versions {
	height: 35px;
}

#welcome {
	text-align: center;
	font-size: 24px;
	padding: 20px;
}

#welcome > img {
	width: 645px;
	height: 500px;
}

#questLineDesc {
	text-align: center;
}

.quest {
	position: absolute;
	background-color: #880;
}

.quest > img, .tasks > div > div > div > img {
	width: 100%; 
	height: 100%;
}

.questPre {
	position: relative;
	display: inline-block;
	background-color: #880;
	width: 64px;
	height: 64px;
}

#questLineTree {
	position: relative;
	margin: 50px;
	border: 5px solid #088;
}

.questInfo {
	background-color: #444;
	text-align: center;
}

.questInfo > span, .questInfo > div {
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

.questInfo > span > h2 {
	position: relative;
	top: -10px;
}

.questInfo > span > h2 > div {
	position: relative;
	top: 24px;
}

.tasks {
	text-align: left;
	border-left: 3px solid #888;
}

.rewards {
	text-align: right;
	border-right: 3px solid #888;
}

.rewards > p,
.rewards > div,
.tasks > p,
.tasks > div {
	padding: 0px 25px;
}

.rewards > div > div > div,
.tasks > div > div > div {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

/* Theme toggle */
#theme-btn {
	display: inline;
	padding: 0px 0px 0px 50px;
}

input[type=checkbox] {
	display:none;
}
 
input[type=checkbox] + label {
    filter: invert(100%);
	height: 32px;
	width: 32px;
	display: inline-block;
}
input[type=checkbox]:checked + label {
    filter: invert(0%);
}

/* Dropdown list */
.dropbtn {
	background-color: transparent;
	min-width: 305px;
	font-size: 16px;
	border: 3px solid #888;
	border-radius: 5px;
	cursor: pointer;
}

.dropbtn:hover {
}

.dropdown {
	position: relative;
	padding: 10px 50px 0px 10px;
	display: inline-block;
}

.dropdown-content {
	border: 3px solid #888;
	display: none;
	position: absolute;
	background-color: #333;
	min-width: 300px;
	max-height: 850px;
	overflow: auto;
	z-index: 1000;
}

.show {
	display: block;
}

#questLines > div {
	border: 1px solid #888;
	width: 99%;
	height: 32px;
	background-color: transparent;
	color: #ddd;
}

#questLines > div > img, #questLines > div > span {
	z-index: -1;
}

#questLines > div:hover {
	background-color: rgba(144, 144, 144, 0.4);
	cursor: pointer;
}
