body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px ;
}

#main {
	text-align: center;
	width: 1900px;
}

#main > div {
	background-color: #444;
	margin: 30px;
	padding: 20px;
}

.dark {
	background-color: #000;
	color: #ddd;
}

.light {
	background-color: #888;
	color: #333;
}

#main.light > div {
	background-color: #fff;
}

#main.light > span {
	color: #fff;
}

#welcome > h1 {
	margin: 0px 30px;
}

/* Header */

#versions {
	height: 83px;
}

#versions > div,
#questLines > div {
	border: 1px solid #888;
	width: 99%;
	height: 64px;
	background-color: transparent;
	color: #ddd;
}

#versions > div > img,
#versions > div > span,
#questLines > div > img,
#questLines > div > span {
	position: relative;
	z-index: -1;
}

#versions > div:hover,
#questLines > div:hover,
.dropbtn:hover,
.quest:hover,
.questPre:hover,
.hide:hover,
.remove:hover,
.pin:hover,
label:hover {
	background-color: rgba(128, 128, 128, 0.4);
	cursor: pointer;
}

#versionsDiv.dropbtn {
	width: 205px;
}

#versions.dropdown-content {
	min-height: 265px;
	min-width: 200px;
}

.dropbtn > img {
	position: relative;
	top: 4px;
}

.dropbtn > span {
	position: relative;
	font-size: 32px;
	top: -17px;
}

.version > span,
.questLine > span {
	position: relative;
	font-size: 32px;
	top: -20px;
}

/* Dropdown list */

.dropbtn {
	background-color: transparent;
	width: 590px;
	border: 5px solid #888;
	border-radius: 15px;
	cursor: pointer;
}

.dropdown {
	position: relative;
	padding: 10px 30px;
	display: inline-block;
}

.dropdown-content {
	border: 5px solid #888;
	display: none;
	position: absolute;
	background-color: #333;
	min-width: 580px;
	max-height: 860px;
	overflow: auto;
	z-index: 1000;
}

.show {
	display: block;
}

/* Theme toggle */

#theme-btn {
	display: inline;
	padding: 0px 30px;
}

input[type=checkbox] {
	display:none;
}
 
input[type=checkbox] + label {
    filter: invert(100%);
	display: inline-block;
	position: relative;
	top: 4px;
}

input[type=checkbox]:checked + label {
    filter: invert(0%);
}

.icon {
	width: 64px;
	height: 64px;
}

#questLineDesc {
	display: inline-block;
	width: 75%;
}

.quest {
	position: absolute;
	background-size: 100%;
	background-color: #aaa;
}

.questPre {
	background-color: #aaa;
}

.quest-main {
	border: 4px solid red;
	border-radius: 10px;
	background-color: #aaa;
}

.quest-optional {
	border: 4px solid green;
	border-radius: 10px;
	background-color: #aaa;
}

.item {
	border: 4px solid grey;
	border-radius: 10px;
	background-color: #aaa;
}

.selected {
	border-width: 10px;
	border-style: double;
}

.max {
	width: 100%; 
	height: 100%;
}

.inline {
	position: relative;
	display: inline-block;
}

#questLineTree {
	background-color: transparent;
	position: relative;
}

#canvas {
	float: left;
	
}

.questInfo {
	text-align: left;
	background-color: #444;
	margin: 30px;
	padding: 0px 30px 30px 30px;
}

.half {
	display: inline-block;
	width: 49.8%;
	vertical-align: top;
}

.top {
	vertical-align: top;
}

.questInfo > div > div > div > span,
.questInfo > div > div > div > div > span {
	position: relative;
	bottom: 25px;
}

.tasks {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin: 0px 10px;
}

.tasks > p {
	font-weight: bold;
	font-style: italic;
}

.tasks > div > p {
	margin: 0px;
}

.tasks > div > div {
	margin: 5px 0px;
}

.tasks > div > div > div {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.title {
	padding: 0px 0px 0px 10px;
	font-size: 30px;
}

.sub-title {
	padding: 0px 0px 0px 10px;
}

.text {
	white-space: pre-wrap;
	padding-left: 5px;
}

.btn {
	background-color: transparent;
	width: 100px;
	border: 5px solid #888;
	border-radius: 15px;
	cursor: pointer;
	text-align: center;
	padding: 13px;
}

.hide {
	margin: 0px 30px;
}

.float-right {
	float: right;
}

.pad-top {
	padding: 10px 0px 0px 0px;
}